<section class="bg-gray-950 section-padding">
  <div class="my-container">
    <div class="mx-auto flex flex-col gap-2">
      <h1 class="text-white text-center">Real athletes. real edge</h1>
      <p class="text-white text-center">Across the gym, the grind and everything in between.</p>
    </div>
  </div>


</section>