<section class="section-padding bg-gray-50">
  <div class="my-container">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-2">

      <div class="px-2 py-8 flex flex-col items-center bg-white rounded-[8px] border-1 border-black">
        {% render 'icon-plant' %}
        <h5 class="mb-3 mt-6 text-center">Brain & Body Synergy</h5>
        <p class=" text-center max-w-52">Vegan ingredients with a low carbon footprint</p>
      </div>


      <div class="px-2 py-8 flex flex-col items-center bg-white rounded-[8px] border-1 border-black">
        {% render 'icon-shield' %}
        <h5 class="mb-3 mt-6 text-center">Clinically Clean</h5>
        <p class=" text-center max-w-52">Non-GMO safe and no major allergens</p>
      </div>

      <div class="px-2 py-8 flex flex-col items-center bg-white rounded-[8px] border-1 border-black">
        {% render 'icon-drop' %}
        <h5 class="mb-3 mt-6 text-center">Brain & Body Synergy</h5>
        <p class=" text-center max-w-52">Non-GMO safe and no major allergens</p>
      </div>

      <div class="px-2 py-8 flex flex-col items-center bg-white rounded-[8px] border-1 border-black">
        {% render 'icon-prohibit' %}
        <h5 class="mb-3 mt-6 text-center">Brain & Body Synergy</h5>
        <p class=" text-center max-w-52">Non-GMO safe and no major allergens</p>
      </div>

    </div>
  </div>
</section>