{% comment %} Basicly i want the  {% endcomment %}

{% comment %} <section class="bg-gray-50 pt-[3rem] flex flex-col justify-center">
    <h2 class="text-center mb-12">Follow Us On Instagram</h2>
    <div class="mx-auto h-[700px] w-[500px] bg-black rounded-t-[32px] relative">
      <div class="absolute left-0 right-0 top-0 bottom-0 m-auto flex flex-row mx-auto">
        <div class="w-[452px] bg-gray-500 aspect-square"></div>
        <div class="w-[452px] bg-gray-500 aspect-square"></div>
        <div class="w-[452px] bg-gray-500 aspect-square"></div>
        <div class="w-[452px] bg-gray-500 aspect-square"></div>
      </div>
    </div>


</section> {% endcomment %}